<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lux - Seu sonho, nosso compromisso</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/tema/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/icofont/css/icofont.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/flag-icon/flag-icon.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/dashboard/amchart/css/amchart.css">
    <!--SVG Icons Animated-->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/SVG-animated/svg-weather.css">
    <!-- C3 chart -->
    <link rel="stylesheet" href="~/Content/tema/bower_components/c3/css/c3.css" type="text/css" media="all">

    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/menu-search/css/component.css">
    <!-- Syntax highlighter Prism css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/prism/prism.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/pcoded-horizontal.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/hover-effect/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/hover-effect/set2.css">
    @RenderSection("css", false)

  

</head>
<!-- Menu horizontal static layout -->

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>

                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>

            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-container">

            <!-- Menu header start -->
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="index.html">
                            <img class="img-fluid mt-3" src="~/Content/tema/assets/images/logo.png" alt="Theme-Logo" />
                        </a>
                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                </div>
            </nav>

            <!-- Menu header end -->
            <div class="pcoded-main-container">
                <nav class="pcoded-navbar" style="background-color: #0b7f8f;">
                    <div class="pcoded-inner-navbar">
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="pcoded-hasmenu">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon" style="background-color: #303548;"><b>H</b></span>
                                    <span class="pcoded-mtext" style="color: white;">Melhores hotéis</span>
                                </a>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="@Url.Action("Galeria","Sugestao")">
                                    <span class="pcoded-micon" style="background-color: #303548;"><b>SD</b></span>
                                    <span class="pcoded-mtext" style="color: white;">Sugestões de destinos</span>
                                </a>
                            </li>
                            <li class="pcoded-hasmenu">
                                <a href="@Url.Action("Index","SobreNos")">
                                    <span class="pcoded-micon" style="background-color: #303548;"><b>LUX</b></span>
                                    <span class="pcoded-mtext" style="color: white;">Sobre Nós</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- Sidebar inner chat end-->
                <div class="pcoded-wrapper">
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body m-t-40">
                                        @RenderBody()
                                    </div>
                                </div>
                                <div id="styleSelector">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="~/Content/tema/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="~/Content/tema/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="~/Content/tema/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="~/Content/tema/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="~/Content/tema/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Content/tema/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Content/tema/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/css-scrollbars.js"></script>

    <script type="text/javascript" src="~/Content/tema/assets/pages/widget/jquery.sparkline.js"></script>
    <!-- peity Chart js -->
    <script src="~/Content/tema/bower_components/peity/js/jquery.peity.js "></script>
    <!-- c3 chart js -->
    <script src="~/Content/tema/bower_components/c3/js/c3.js"></script>
    <script src="~/Content/tema/bower_components/d3/js/d3.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="~/Content/tema/bower_components/chart.js/js/Chart.js"></script>

    <!-- Syntax highlighter prism js -->
    <script type="text/javascript" src="~/Content/tema/assets/pages/prism/custom-prism.js"></script>
    <!-- amchart js -->
    <script type="text/javascript" src="~/Content/tema/assets/pages/dashboard/amchart/js/amcharts.js"></script>
    <script type="text/javascript" src="~/Content/tema/assets/pages/dashboard/amchart/js/serial.js"></script>
    <script type="text/javascript" src="~/Content/tema/assets/pages/dashboard/amchart/js/light.js"></script>
    <script type="text/javascript" src="~/Content/tema/assets/pages/dashboard/amchart/js/custom-amchart.js"></script>
    <!-- counter .js -->
    <script src="~/Content/tema/assets/pages/widget/timer/jquery.countdown.min.js"></script>
    <script src="~/Content/tema/assets/pages/widget/timer/TimeCircles.js"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/Content/tema/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/Content/tema/assets/pages/dashboard/custom-dashboard.js"></script>


    <script src="~/Content/tema/assets/js/pcoded.min.js"></script>
    <script src="~/Content/tema/assets/js/demo-10.js"></script>
    <script src="~/Content/tema/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/assets/js/script.js"></script>

    <script src="assets/js/pcoded.min.js"></script>
    <script src="assets/js/demo-12.js"  ></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>

    @RenderSection("scripts", false)
</body>

</html>