
@{
    ViewBag.Title = "Index";
}



<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="fas fa-users-cog" style="background-color: #171d2b;"></i>
                <div class="d-inline">
                    <h4>Lista de Administradores</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <ul class="breadcrumb-title">
                <li>
                    <a class="btn text-success float-right"
                       href="@Url.Action("Cadastro")">
                        <i class="fas fa-plus"></i> Novo Administrador
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="form-group col-lg-12">
    <div class="row">

        @foreach (Model.Administrador administrador in ViewBag.Administradores)
        {
            <div class="card mr-3">
                <div class="card-body ">
                    <div class="sub-title">Cadastro: @administrador.Id</div>
                    <div class="sub-title">Nome: @administrador.Nome</div>
                    <div class="sub-title">Login: @administrador.Login</div>
                    <div class="row">

                        <a href="@Url.Action("Apagar", new {id = administrador.Id})"
                           class="btn text-danger float-right">
                            <i class="fas fa-trash"></i> Apagar
                        </a>

                        <a href="@Url.Action("Editar", new { id = administrador.Id })"
                           class="btn text-primary float-right">
                            <i class="fas fa-pen"></i> Editar
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>