
@{
    ViewBag.Title = "Editar";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont icofont icofont-hotel" style="background-color: #343a40;"></i>
                <div class="d-inline">
                    <h4 style="text-transform: capitalize">Editar informações do hotel</h4>
                </div>
            </div>
        </div>
    </div>
</div>


<form action="@Url.Action("Editar")" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@ViewBag.Hotel.Id" />

    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-12 col-xl-5 m-b-30">
                    <div class="form-group">
                        <h4 class="sub-title">Nome <strong>*</strong></h4>
                        <input type="text" name="nome"
                               class="form-control"
                               id="campo-nome"
                               value="@ViewBag.Hotel.Nome" placeholder="Digite o nome do hotel" maxlength="40" autocomplete="off" required />   
                    </div>
                </div>
                <div class="col-sm-12 col-xl-5 m-b-30">
                    <div class="form-group">
                        <h4 class="sub-title">Descrição <strong>*</strong></h4>
                        <textarea type="text" name="descricao"
                                  class="form-control"
                                  id="campo-descricao"
                                  value="@ViewBag.Hotel.Descricao" placeholder="Faça aqui sua descrição" rows="7" cols="40" maxlength="500" autocomplete="off" required></textarea>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-2 m-b-30">
                    <div class="form-group">
                        <h4 class="sub-title">Valor por noite <strong>*</strong></h4>
                        <input type="text" name="ValorNoite" id="Valor-Noite" placeholder="Valor por Noite" class="form-control autonumber" data-a-sign="$"
                               value="@ViewBag.Hotel.ValorNoite" autocomplete="off" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-3 m-b-30">
                    <h4 class="sub-title">Estado <strong>*</strong></h4>
                    <select class="form-control" id="estado" name="estado" autocomplete="off" required>
                        <option value="SC">Santa Catarina</option>
                    </select>
                </div>
                <div class="col-sm-12 col-xl-6 m-b-30">
                    <h4 class="sub-title">Cidade <strong>*</strong></h4>
                    <input type="text" name="cidade"
                           class="form-control"
                           id="campo-cidade"
                           value="@ViewBag.Hotel.Cidade" placeholder="Digite a cidade" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-3 m-b-30">
                    <div class="form-group">
                        <h4 class="sub-title">CEP <strong>*</strong></h4>
                        <input type="text" name="cep"
                               class="form-control telphone_whith_code" data-mask="00000-000"
                               id="campo-cep"
                               value="@ViewBag.Hotel.CEP" placeholder="Digite o CEP" autocomplete="off" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-6 m-b-30">
                    <h4 class="sub-title">Bairro <strong>*</strong></h4>
                    <input type="text" name="bairro"
                           class="form-control"
                           id="campo-bairro"
                           value="@ViewBag.Hotel.Bairro" placeholder="Digite o bairro" maxlength="50" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-2 m-b-30">
                    <h4 class="sub-title">Número <strong>*</strong></h4>
                    <input type="text" name="numero"
                           class="form-control"
                           id="campo-numero"
                           value="@ViewBag.Hotel.Numero" placeholder="Digite o número" maxlength="20" autocomplete="off" required />
                </div>

                <div class="col-sm-12 col-xl-4 m-b-30">
                    <div class="form-group">
                        <h4 class="sub-title">Rua <strong>*</strong></h4>
                        <input type="text" name="rua"
                               class="form-control"
                               id="campo-rua"
                               value="@ViewBag.Hotel.Rua" placeholder="Digite o nome da rua" maxlength="50" autocomplete="off" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <div class="form-group">
                        <h4 class="sub-title">Complemento <strong>*</strong></h4>
                        <input type="text" name="complemento"
                               class="form-control"
                               id="campo-complemento"
                               value="@ViewBag.Hotel.Complemento" placeholder="Digite um complemento" maxlength="50" autocomplete="off" required />
                    </div>
                </div>
            </div>
            <input id="Imagem" type="file" name="file" title="Selecionar Imagem" />
            <button class="btn btn-outline-success float-right" type="submit">
                <i href="@Url.Action("Index","Hotel")" class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>

<!-- Required Jquery -->
<script type="text/javascript" src="~/Content/tema/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>