
@{
    ViewBag.Title = "Index";
}

<style>
    section ol {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        flex-basis: 25%;
    }

    table, td, tr {
        min-height: 300px;
        min-width: 300px;
    }

    .foo {
        min-height: 300px;
    }
</style>
<h2 class="text-cen">Lista de Hoteis</h2>
<div class="row">
    <div class="col-10 offset-1 mb-3">
        <a class="btn float-right"
           style="background-color: #00ae1b; color: white;"
           href="@Url.Action("Cadastro")">
            <i class="ti-plus"></i> Novo Hotel
        </a>
    </div>
</div>




<div class="form-group mt-3">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">



                @foreach (Model.Hotel hotel in ViewBag.Hoteis)
                {
                    <div>
                        <div class="mt-3">@hotel.Id</div>
                        <div class="mt-3">@hotel.Nome</div>
                        <div class="mt-3">@hotel.Descricao</div>
                        <div class="mt-3">@hotel.ValorNoite</div>
                        <div class="mt-3">@hotel.Estado</div>
                        <div class="mt-3">@hotel.Cidade</div>




                        <a href="@Url.Action("Editar", new { id = hotel.Id })"
                           class="btn btn-info" style="background-color:#006eff">
                            <i class="fas fa-pen"></i> Editar
                        </a>

                        <a href="@Url.Action("Apagar", new {id = hotel.Id})"
                           class="btn btn-danger" style="background-color:#d30000">
                            <i class="fas fa-trash"></i> Apagar
                        </a>

                    </div>
                }


            </div>
        </div>
    </div>
</div>

