
@{
    ViewBag.Title = "Index";
}
<head>
</head>
<div class="page-header card" style="width: 1198px;">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont icofont icofont-hotel" style="background-color: #171d2b;"></i>
                <div class="d-inline">
                    <h4>Lista de Hoteis</h4>
                  
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <ul class="breadcrumb-title">
                <li>
                    <a class="btn text-success float-left"
                       href="@Url.Action("Cadastro")">
                        <i class="fas fa-plus"></i> Novo Hotel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="form-group col-lg-12">
    <div class="row">

        @foreach (Model.Hotel hotel in ViewBag.Hoteis)
        {
            <div class="card mr-3">
                <div class="card-body">
                    <div class=""></div>
                    <div class="sub-title">Cadastro: @hotel.Id</div>
                    <div class="sub-title">Nome: @hotel.Nome</div>
                    <div class="sub-title">Valor: @hotel.ValorNoite</div>
                    <div class="sub-title">Estado: @hotel.Estado</div>
                    <div class="sub-title">Cidade: @hotel.Cidade</div>
                    <div class="row">

                        <a href="@Url.Action("Apagar", new {id = hotel.Id})"
                           class="btn text-danger float-right">
                            <i class="fas fa-trash"></i> Apagar
                        </a>

                        <a href="@Url.Action("Editar", new { id = hotel.Id })"
                           class="btn text-primary float-right">
                            <i class="fas fa-pen"></i> Editar
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
