
@{
    ViewBag.Title = "Index";
}

<head>
    <style>

   
    </style>
</head>




<div class="card">
    <div class="card-header">
        <h5 class="card-header-text">Informações pessoais</h5>

    </div>
    <div class="card-block">
        <div class="view-info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Nome Completo</th>
                                                <td>@ViewBag.Cliente.Nome</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Celular</th>
                                                <td>@ViewBag.Cliente.Celular</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Login</th>
                                                <td>@ViewBag.Cliente.Login</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Estado</th>
                                                <td>@ViewBag.Cliente.Estado</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Cidade</th>
                                                <td>@ViewBag.Cliente.Cidade</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                            <a href="@Url.Action("Editar","Perfil", new { id = ViewBag.Cliente.Id})" class="btn btn-outline-primary">Editar</a>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of general info -->
                </div>
                <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of view-info -->
    </div>
</div>
