
@{
    ViewBag.Title = "Editar";
}

<h2>Editar Cliente</h2>

<form action="@Url.Action("Editar")" method="post">
    <input type="hidden" name="id" value="@ViewBag.Cliente.Id" />
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="text" name="nome"
                       class="form-control"
                       id="campo-nome"
                       value="@ViewBag.Cliente.Nome" />
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="campo-estado">Estado</label>
                <input type="text" name="estado"
                       class="form-control"
                       id="campo-estado" value="@ViewBag.Cliente.Estado" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="campo-cidade">Cidade</label>
                <input type="text" name="cidade"
                       class="form-control"
                       id="campo-cidade" value="@ViewBag.Cliente.Cidade" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="campo-cep">Cep</label>
                <input type="text" name="cep"
                       class="form-control"
                       id="campo-cep" value="@ViewBag.Cliente.Cep" />
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-6">
            <div class="form-group">
                <label form="campo-bairro">Bairro</label>
                <input type="text" name="bairro"
                       class="form-control"
                       id="campo-bairro" value="@ViewBag.Cliente.Bairro" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="campo-numero">Número</label>
                <input type="text" name="numero"
                       class="form-control"
                       id="campo-numero" value="@ViewBag.Cliente.Numero" />
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-6">
            <div class="form-group">
                <label form="campo-rua">Rua</label>
                <input type="text" name="rua"
                       class="form-control"
                       id="campo-rua" value="@ViewBag.Cliente.Rua" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="campo-complemento">Complemento</label>
                <input type="text" name="complemento"
                       class="form-control"
                       id="campo-complemento" value="@ViewBag.Cliente.Complemento" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="campo-login">Login</label>
                <input type="text" name="login"
                       class="form-control"
                       id="campo-login" value="@ViewBag.Cliente.Login" />
            </div>
        </div>


        <div class="col-6">
            <div class="form-group">
                <label for="campo-senha">Senha</label>
                <input type="text" name="senha"
                       class="form-control"
                       id="campo-senha" value="@ViewBag.Cliente.Senha" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-outline-success float-right">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>