

@{
    ViewBag.Title = "Florianopolis";
}

<head>

    <style>



        .card {
            background-color: #343a40;
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            width: 1100px;
            height: 800px;
        }

        h2 {
            color: white;
        }

        p {
            color: white;
        }
    </style>

</head>

<div class="page-body">
    <div class="card">
        <img src="~/Content/imagem/Sugestão02/Florianopolis.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h2>Florianópolis</h2>
            <p class="card-text">
                Considerada por muitos habitantes e turistas que a visitam como detentora de uma beleza singular, dotada de fortes traços da cultura açoriana, observados nas edificações, artesanato, no folclore, culinária e nas tradições religiosas, Florianópolis tem no turismo uma de suas principais fontes de renda
                Dentre os atrativos turísticos da capital salientam-se, presentemente, além das praias, as localidades onde se instalaram as primeiras comunidades de imigrantes açorianos, como Ribeirão da Ilha, Lagoa da Conceição, Santo Antônio de Lisboa e o próprio centro histórico da cidade.
            </p>
        </div>
    </div>
</div>

@foreach (Model.Hotel hotel in ViewBag.Hoteis)
{
    if (hotel.Cidade == "Florianopolis")
    {
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div class="card mr-3">
                    <div class="card-body ">
                        <div>
                            <img src="~/Content/melhoresHoteis/images-7.jpg" alt="Alternate Text" />
                        </div>
                        <div class="sub-title">Hotel: @hotel.Nome</div>
                        <div class="sub-title">Valor por Noite: @hotel.ValorNoite</div>
                        <div class="sub-title">Bairro: @hotel.Bairro</div>
                        <div class="sub-title">Rua: @hotel.Rua</div>
                        <div class="sub-title">Descrição: @hotel.Descricao</div>

                    </div>
                </div>
            </div>
        </div>
    }
}
