
@{
    ViewBag.Title = "Galeria";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-header card">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <i class="icofont icofont-hotel-alt" style="background-color: #1A2930; color: white;"></i>
                            <div class="d-inline">
                                <h4>Sugestões de Destino</h4>

                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h5></h5>
                    <p style="color: black; font-size: 20px;">Nós ajudamos você a descobrir para onde quer ir!</p>
                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="grid">
                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Florianopolis/Ponte Hercilio Luz.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Florianópolis<span></span></h2>
                                        <div>
                                            <p>A Lux tira as melhores fotos</p>
                                            <p>Com as melhores qualidades</p>
                                            <p>Para te ajudar da melhor forma possivel</p>
                                        </div>
                                        <a href="@Url.Action("Florianopolis", "Sugestao")">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/SaoFrancisco/CentroSF.jpeg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>São Fransisco do Sul <span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="@Url.Action("SaoFrancisco", "Sugestao")">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Nova Trento/Nova Trento.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Nova Trento<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="@Url.Action("NovaTrento", "Sugestao")">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Balneario/balneario.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Balneário Camboriú<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="@Url.Action("Balneario")"></a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Blumenau/Teatro Carlos Gomes.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Blumenau<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="@Url.Action("Blumenau" , "Sugestao")">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Garopaba/garuBanner.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Garopaba<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="@Url.Action("Garopaba", "Sugestao")">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/PortoBelo/piscina-com-bar-molhado.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Porto Belo<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="@Url.Action("PortoBelo", "Sugestao")">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Praia do Rosa/praia.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Praia do Rosa<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="@Url.Action("PraiaDoRosa", "Sugestao")">Ver mais</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

