
@{
    ViewBag.Title = "NovaTrento";
}

<head>

    <style>

        .sub-title{
            color: white;
        }

        .card {
            background-color: #343a40;
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            width: 1100px;
            height: 800px;
        }

        h2 {
            color: white;
        }

        p {
            color: white;
        }
    </style>

</head>

<div class="page-body">
    <div class="card">
        <img src="~/Content/imagem/Sugestão02/NovaTrento.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h2>Nova Trento</h2>
            <p class="card-text">
                Colonizada por italianos oriundos da cidade de Trento, Nova Trento é o segundo destino brasileiro que mais recebe fiéis, peregrinos e romeiros, atrás apenas de Aparecida do Norte, em São Paulo. A cidade possui mais de 30 capelas e oratórios, incluindo o Santuário Santa Paulina – consagrado à primeira santa brasileira, que viveu até 1942 na cidade. O município realiza também uma das mais autênticas celebrações da cultura italiana: a Festa Incanto Trentino, com apresentações musicais em dialeto trentino. Em visita a Nova Trento, não deixe de degustar os vinhos locais, saborear as deliciosas receitas italianas e apreciar a natureza da região. No alto do Morro da Cruz (525 m), é possível avistar o Rio Tijucas desembocando no mar.
            </p>
        </div>
    </div>
</div>

@foreach (Model.Hotel hotel in ViewBag.Hoteis)
{
    if (hotel.Cidade == "Nova Trento")
    {
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div class="card mr-3">
                    <div class="card-body ">
                        <div>
                            <img class="d-block img-fluid" src="~/Content/melhoresHoteis/melhores-hoteis-de-luxo-do-brasil-1.jpg" />
                        </div>
                        <div class="sub-title mt-3">Hotel: @hotel.Nome</div>
                        <div class="sub-title">Valor por noite: @hotel.ValorNoite</div>
                        <div class="sub-title">Bairro: @hotel.Bairro</div>
                        <div class="sub-title">Rua: @hotel.Rua</div>
                        <div class="sub-title">Descrição: @hotel.Descricao</div>

                    </div>
                </div>
            </div>
        </div>
    }
}
